{% extends "layout.html" %}
{% block body_content %}
    <h2>Please enter your Gym Information</h2>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}         
            {{ form.gym_name.label }}
            {{form.gym_name}}
            <br>
            {{ form.postcode.label }}
            {{form.postcode}}
        </br>
            {{ form.submit }}
    </form>
    </div>

    <h2>Please enter the Activity you want to book</h2>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}         
            {{ form.activity.label }}
            {{form.activity}}
            <br>
            {{ form.date.label }}
            {{form.date}}
        </br>
        <br>
        {{ form.time.label }}
        {{form.time}}
    </br>
            {{ form.submit }}
    </form>
    </div>

{% endblock %}