{% extends "layout.html" %}
{% block body_content %}
    <p>Welcome to my gym scheduling web app!</p>
        {% for gym in gym %}
        <div>
            <h3>{{ gym.gym_name}}</h3>
            <span><h3>{{ gym.postcode }} </span></h3></span>
        </div>
        {% endfor %}

        {% for classes in classes %}
        <div>
            <h3>{{ classes.activity }}</h3>
            <span>by <i>{{ classes.date }} </i></span>
            <span>by <i>{{ classes.time }} </i></span>
        </div>
        {% endfor %}
        
        <form method="POST" action=" ./delete">
            <input type="hidden" value= "{{gym.gym_name}}" name = "gym_name">
            <input type="submit" value="Delete">
</form>
{% endblock body_content %}